In [1]:
import pandas as pd

In [3]:
movies_metadata = pd.read_csv('movies_metadata.csv', low_memory=False)
ratings = pd.read_csv('ratings.csv')

In [12]:
movies_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
36602,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,347847,tt3399484,en,The Sand,Just when you thought it was safe to go back i...,...,2015-08-28,0.0,84.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,This Beach is Killer,The Sand,False,3.8,29.0
35473,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",http://phdmovie.com/,373976,tt4779296,en,The PHD Movie 2,The Nameless Grad Student and his group must t...,...,2015-12-23,0.0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still in Grad School,The PHD Movie 2,False,0.0,0.0
6500,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,43048,tt0054412,en,Tunes of Glory,Major Jock Sinclair has been in this Highland ...,...,1960-08-16,0.0,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Here's a Helluva Swelluva Free-Swinging Movie!,Tunes of Glory,False,7.1,14.0
16840,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,93528,tt0051193,en,Wild Is the Wind,Wild Is the Wind represents a (perhaps deliber...,...,1957-12-11,0.0,114.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Wild Is the Wind,False,7.2,3.0
34636,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,134155,tt0006895,en,King Lear,Silent adaptation of Shakespeare's King Lear,...,1916-12-17,0.0,63.0,[],Released,NaN,King Lear,False,2.5,2.0

In [13]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
7532997    77749      940     4.0   857990755
6139982    63264      194     4.0   938976673
24966477  259615     1213     5.0  1439801209
15932917  165751      653     4.0   861126602
24688477  256634     2321     3.5  1095469735

In [14]:
square = lambda x: x * x
square(5)

25